In [172]:
import pandas as pd
import numpy as np

In [173]:
#this is the path of the file where to read
path = 'C:\\Users\Assel\Documents\Python_trials' # the file path 
hello_file = open(path+'\Monitor78.txt', 'r') # open the file
columns = ['Var' + str(i) for i in range(42)]
df = pd.read_csv(hello_file,sep="\t", header=None, names=columns)

In [174]:
df.head(10) #head means to show the first 5 rows

,Var0,Var1,Var2,Var3,Var4,Var5,Var6,Var7,Var8,Var9,...,Var32,Var33,Var34,Var35,Var36,Var37,Var38,Var39,Var40,Var41
0,1,23 Mar 18,16:18:00,50,0,78,1,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,23 Mar 18,16:18:00,50,0,78,2,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,23 Mar 18,16:18:00,50,0,78,3,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,23 Mar 18,16:18:00,50,0,78,4,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,23 Mar 18,16:18:00,50,0,78,5,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1,23 Mar 18,16:18:00,50,0,78,6,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,23 Mar 18,16:18:00,50,0,78,7,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,23 Mar 18,16:18:00,50,0,78,8,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1,23 Mar 18,16:18:00,50,0,78,9,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,23 Mar 18,16:18:00,50,0,78,10,Ct,0,0,...,0,0,0,0,0,0,0,0,0,0

In [175]:
full_data = df[~df.Var7.str.contains('Pn')]
full_data = df[df.Var6 != 0]

In [176]:
new_list = []
# this allows to find the first row which contains 09:00:00 in the time column 
start_counter = 0
for k in full_data.Var2:
    if "09:00:00" in k:
        break
    start_counter += 1
#print(counter)
 
print('out of loop')
j = full_data.iloc[start_counter].index
print(start_counter)

out of loop
16032

In [227]:
new_list = np.array(full_data.Var11[start_counter:-1])
day = 0 
f_ = []
a = [1,2,3,4,5,6,7,8,9,10]
loop_list = new_list
for i, v in enumerate(a):
    f_n = 'day_'+str(day)+'.txt'
    n = i*22080
    loop_list = loop_list[n:-1]
    day_save = loop_list[0:24000]
    if loop_list.size >0:
        day_save = day_save.reshape(-1,16)
        f_.append(day)
        np.savetxt(f_n,day_save, fmt='% 4d')
        day+=1
        print(f_)
print('saved')

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
saved

In [222]:

for i in enumerate(f_):

TypeError: 'int' object is not iterable

In [199]:
day_1 = np.loadtxt('day_0.txt')
day_1 = np.transpose(day_1)
day_1 =  day_1[~np.all(day_1 == 0, axis=1)]
day_1 = np.transpose(day_1)


for i, v in enumerate(f_):
    f_n = 'day_'+str(day)+'.txt'
    day_1 = np.loadtxt(f_n)
        print(f_)
print('saved')


day = 0 
if day < 4:
    for file in np.loadtxt(f_n):
 
        f_n = 'day_'+str(day)+'.txt'
        f_ = 'day_'+str(day)
        f_ = np.loadtxt(f_n)
#ALL = ALL_raw;
#[u,a] = size(ALL_raw);
#ALL_reshaped = [];
#for j = 1:a;
 #   c = j*25;
  #  d = c-24;
  
   # ALL_reshaped = [ALL_reshaped, reshape(ALL(:,j), 60, []);]
  
#end
#clear j c d i a b u

OSError: day_5.txt not found.

In [232]:
print(f_)
for v in enumerate(f_)-1:
    f_n = 'day_'+str(day)+'.txt'
    day_1 = np.loadtxt(f_n)
    print(f_n)
print('saved')

[0, 1, 2, 3, 4]

TypeError: unsupported operand type(s) for -: 'enumerate' and 'int'